@charset "utf-8";

/* 메인콘텐츠 서식 mmain.css */
main{
  padding-top:60px;
  /* position:relative;
  top:60px; */
}
.slide{
  /* height:66vh; */
  /* overflow:hidden;
  position:relative; */
}
.slide > h2{display:none;}
.slide img{
  transform:translate(-120px, -203px);
}
.myslide{height:66vh;}
.slide .swiper-slide{
  position:relative;
  border-bottom:3px solid #000;
  width: 100%;
}
.slide .swiper-slide  h3{
  position:absolute;
  top:50%;left:50%;
  transform:translate(-50%, -50%);
  background:rgba(0,0,0,.7);
  color:#fff;
  padding:6px 10px;
  border-radius:40px;
  width:230px;
  text-align:center;
  line-height:30px;
  font-size:20px;
  font-weight: 300;
  z-index:100;
}
.slide .swiper-pagination{
  position:absolute;bottom:0px;
}

/* 메인 내비게이션 서식 */
.m_gnb{
  width:90%;
  margin:20px auto;
}
.m_gnb > ul{
  display:grid;
  grid-gap:10px;
  grid-template-columns: repeat(3, auto);
  margin-bottom:10px;
}
.m_gnb > ul > li{
  border:1px solid #ccc;
  text-align:center;
}
.m_gnb > ul > li:last-child{
  grid-area:4/1/3/4; /* 4행 1열 3행 4열 */
  height:50px;
  overflow:hidden;
}
.m_gnb > ul > li:last-child .m_txt{
  display:inline-block;
  transform:translateY(10px);
}

.m_gnb .icon{
  background-image:url('../mimages/nav_icon.png');
  display:inline-block;
  width:83px;height:66px;
  background-size:360px;
}
.m_txt{
  display:block;
  line-height:30px;
  font-size:0.9rem;
  font-weight: 500;
}
.m_gnb li:first-child .icon{}
.m_gnb li:nth-child(2) .icon{
  background-position:-82px 0px;
}
.m_gnb li:nth-child(3) .icon{
  background-position:-166px 0px;
}
.m_gnb li:nth-child(4) .icon{
  background-position:-250px 0px;
}
.m_gnb li:nth-child(5) .icon{
  background-position:0px -66px;
}
.m_gnb li:nth-child(6) .icon{
  background-position:-70px -66px;
}
.m_gnb li:last-child .icon{
  width:50px;
  background-position:-160px -65px;
}

/* 둔산점 연락처 */
.info{
  width:90%;height:70px;
  margin:20px auto;
  background-image:url('../mimages/info_back.png');
  background-size:100%;
  color:#fff;
}
.info > h2{display:none;}
.info > i.fas{
  font-size:24px;
  font-weight:bold;
  padding:20px 5% 0px 5%;
  float:left;
}
.tel{
  padding-top:16px;line-height:20px;
}
.tel a{ color:#fff;font-size:16px;}

@media screen and (max-width:375px) {
  .tel a{ font-size:14px;}
}